/* styles.css */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Exo', Arial, sans-serif;
  background: linear-gradient(to bottom, #0e0e0e, #1a1a1a);
  color: #fff;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  filter: blur(10px);
  transition: filter 3s ease-in-out;
}

img {
  width: 100%;
  height: auto;
  transition: opacity 1s ease-in-out;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: 2px solid #00f;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  font-family: 'Exo', Arial, sans-serif;
}

button:hover {
  background-color: #00f;
  color: #fff;
  border: 2px solid #00f;
  box-shadow: 0px 0px 10px 2px #00f;
}

button:active {
  background-color: #007acc;
  border: 2px solid #007acc;
}

h1 {
  text-align: center;
  font-size: 2em;
}
