body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
  }
  
  button {
    position: absolute;
    top: 50%; /* Размещаем кнопку по вертикали по центру изображения */
    left: 50%; /* Размещаем кнопку по горизонтали по центру изображения */
    transform: translate(-50%, -50%); /* Центрируем кнопку точно по центру изображения */
    z-index: 1; /* Устанавливаем кнопку над изображением */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  